@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700;800;900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
	font-weight: 800;
}

body {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
}

#clock {
	font-size: 9rem;
	width: 700px;
	z-index: 2;
	color: rgb(32, 24, 22);

	--x-offset: -0.0625em;
	--y-offset: 0.0625em;
	--stroke: 0.025em;
	--background-color: white;
	--stroke-color: lightblue;

	text-shadow: var(--x-offset) var(--y-offset) 0px var(--background-color),
		calc(var(--x-offset) - var(--stroke)) calc(var(--y-offset) + var(--stroke))
			0px var(--stroke-color);
}

/* Divs con imagen escondida */

.bg {
	position: fixed;
	inset: 0;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -3;
}

.show {
	z-index: 1;
	transition: all ease-in-out 2s;
}
